* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #fd5070 0%, #f7c2a3 100%);
  background-blend-mode: multiply;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#form-container {
  background-color: #ffffff;
  max-width: 450px;
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
}
h2 {
  font-weight: bold;
}
.sign {
  font-weight: 600;
}
a{
  color: #675CD8;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.box {
  margin-bottom: 15px;
}
.box input {
  width: 100%;
}
.names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.first-name {
  margin-right: 3px;
}
.first-name input,
.last-name input {
  width: 100%;
}
input {
  border-radius: 10px;
  outline: none;
  border: 0.5px solid rgba(144, 141, 141, 0.2);
  background-color: #f8f8f8;
  padding: 12px 6px;
}
.btn {
  width: 100%;
  background-color: #675CD8;
  color: #ffff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 12px 6px;
}
.btn:hover {
  background-color:#4a3fc2;
  color: #ffff;
}
@media (max-width: 500px) {
  input {
    padding: 10px 5px;
  }

  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  input {
    padding: 8px 3px;
  }

  html {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  input {
    padding: 8px 3px;
  }

  html {
    font-size: 13px;
  }
}
